#=========================================
# ZERODHA
#=========================================

ZERODHA_API_KEY=tlb1tdqpzu1hte5b
ZERODHA_API_SECRET=ailopo0nxhiim0uctkf6zjgoqsdcemrh

# OAuth callback
ZERODHA_CALLBACK_URL=https://localhost:3001/api/zerodha/callback

#=========================================
# FYERS API V3
#=========================================

FYERS_APP_ID=5MII16ISE5-100
FYERS_SECRET_KEY=3XQ04XC651
FYERS_REDIRECT_URI=https://localhost:3001/api/fyers/callback
FYERS_STATE=ai-institutional

#=========================================
# ALICEBLUE
#=========================================

ALICEBLUE_APPCODE=3wSQgbDC05
ALICEBLUE_API_SECRET=0Nd42NHu4cPBIpaClnzsLqQfQu6gUnw0QcsZSMa0qfZRmSIws8fo9JuyH5p8sCGnrRjjKhzrQMYND3M7LFLNA4ZNJc0DEEBfWeXv
ALICEBLUE_REDIRECT_URI=https://localhost:3001/api/aliceblue/callback

#=========================================
# INDstocks
#=========================================
INDSTOCKS_CLIENT_ID=JlivYwrf64m0CLw5X108
INDSTOCKS_MPIN=2356
INDSTOCKS_TOTP_SECRET=NRXQ622P2QE66VQOGXY4P55DDMPD4ZTB
#INDSTOCKS_TOTP_SECRET=4XBPWHCWGKDAVUGWATKE7QBGOWPCQRDJ - old setup key itself secret key
#=========================================
# SERVER
#=========================================

PORT=3001